.IconCancle {
  position: absolute;
  top: 110px;
  right: 50px;
}

.listGame {
  list-style: none;
  font-style: italic;
  width: 80%;
  margin-left: 20px;
}

.ItemListGame {
  margin: 20px 0;
}

.ItemListGame .MuiPaper-root {
  font-size: 20px;
}

.titleGame {
  text-align: center;
}

.InputListCreateOrUpdateGame {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
}

.InputListCreateOrUpdateGame input,
.InputListCreateOrUpdateGame textarea {
  margin: 5px 0;
  border: 1px solid gray;
  font-size: 18px;
  padding: 5px;
}

.InputListCreateOrUpdateGame input,
.InputListCreateOrUpdateGame textarea:focus {
  outline: none;
}
