.career {
  height: 100vh;

  .sections_career {
    width: 100%;
    height: calc(100vh - 70px);
    background-color: lightsalmon;
    position: relative;
    top: 70px;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }

    > * {
      width: 100vw;
      height: calc(100vh - 70px);
      scroll-snap-align: start;
    }
  }

  @media (max-width: 640px) {
    .portfolio .container {
      width: 80%;
    }
    .topbar .wrapper .left .itemContainer {
      display: none;
    }
    .testimonials .container {
      flex-direction: column;
    }

    .testimonials .container .card.featured {
      margin: 10px 30px;
    }

    .testimonials h1 {
      margin: 180px 0;
    }

    .contact {
      margin-top: 600px;
    }

    .contact .left {
      display: none;
    }

    .portfolio .container .item {
      width: 110px;
      height: 150px;
    }
  }

  @media (min-width: 641px) and (max-width: 1024px) {
    .portfolio .container {
      width: 80%;
    }

    .testimonials h1 {
      margin: 80px 0;
    }

    .testimonials .container {
      flex-direction: column;
    }

    .testimonials .container .card.featured {
      margin: 10px 30px;
    }

    .contact {
      margin-top: 120px;
    }
  }
}
