.sologanFollowUser {
  margin: 50px 0 30px;
  text-align: center;
  font-size: 34px;
  color: gray;
}

.followUser {
  display: flex;
}

.wrapperFollowUser {
  margin: 0 200px;
}

.listFollowUser {
  display: flex;
  flex-wrap: wrap;
}

.itemFollowUser {
  list-style-type: none;
  margin: 10px 12px;
}
