.homeContainer {
  display: flex;
  width: 100%;
}

.homeSidebar {
  flex: 3;
}

@media (max-width: 640px) {
  .homeSidebar {
    display: none;
  }
  .homeRightbar {
    display: none;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .homeSidebar {
    display: none;
  }
  .homeRightbar {
    display: none;
  }
}
