.shareUpdate {
  width: 100%;
  /* height: 170px; */
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}

.shareWrapperUpdate {
  padding: 10px;
}

.shareTopUpdate {
  display: flex;
  align-items: center;
}

.shareProfileImgUpdate {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.shareInputUpdate {
  border: none;
  width: 80%;
}

.shareInputUpdate:focus {
  outline: none;
}

.shareHrUpdate {
  margin: 20px;
}

.shareBottomUpdate {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shareOptionsUpdate {
  display: flex;
  margin-left: 20px;
}

.shareOptionUpdate {
  display: flex;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
}

.shareIconUpdate {
  font-size: 18px;
  margin-right: 3px;
}

.shareOptionTextUpdate {
  font-size: 14px;
  font-weight: 500;
}

.shareButtonUpdate {
  border: none;
  padding: 7px;
  border-radius: 5px;
  background-color: green;
  font-weight: 500;
  margin-right: 20px;
  cursor: pointer;
  color: white;
}

.shareImgContainerUpdate {
  padding: 0 20px 10px 20px;
  position: relative;
}

.shareImgUpdate {
  width: 100%;
  object-fit: cover;
}

.shareCancelImgUpdate {
  position: absolute;
  top: 0;
  right: 20px;
  cursor: pointer;
  opacity: 0.7;
}
