.quiz {
  height: 100vh;
  display: flex;
  background-color: #020230;
  color: white;
}

.quiz_main {
  width: 75%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #020230),
    url("./assets/bg.jpg") center;
  display: flex;
  flex-direction: column;
}

.quiz_top {
  height: 50%;
  position: relative;
}

.quiz_timer {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 30px;
  position: absolute;
  bottom: 10px;
  left: 80px;
}

.quiz_bottom {
  height: 50%;
}

.quiz_trivia {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.quiz_question {
  width: 80%;
  background: linear-gradient(#100241, black);
  border: 2px solid white;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
}

.quiz_answers {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.quiz_answer {
  width: 40%;
  padding: 10px;
  text-align: center;
  background: linear-gradient(#0e0124, #22074d);
  border: 1px solid white;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
  margin: 0 10px 20px 10px;
}

.quiz_answer:hover,
.quiz_answer.active {
  background: mediumblue;
}

.quiz_answer.correct {
  animation: correct 3s ease forwards;
}

@keyframes correct {
  0%,
  22%,
  42% {
    background: mediumblue;
  }
  20%,
  40%,
  60% {
    background: linear-gradient(#0e0124, #22074d);
  }
  62%,
  100% {
    background: green;
  }
}

.quiz_answer.wrong {
  animation: wrong 3s ease forwards;
}

@keyframes wrong {
  0%,
  22%,
  42% {
    background: mediumblue;
  }
  20%,
  40%,
  60% {
    background: linear-gradient(#0e0124, #22074d);
  }
  62%,
  100% {
    background: crimson;
  }
}

.quiz_pyramid {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quiz_moneyList {
  list-style: none;
  width: 100%;
  padding: 20px;
}

.quiz_moneyListItem {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}

.quiz_moneyListItem.active {
  background-color: teal;
}

.quiz_moneyListItemNumber {
  font-size: 18;
  font-weight: 100;
  width: 30%;
}

.quiz_moneyListItemAmount {
  font-size: 20px;
  font-weight: 300;
}

.quiz_endText {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.quiz_start {
  width: 250px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.quiz_startInput {
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
}

.quiz_startInput:focus {
  outline: none;
}

.quiz_buttonStart {
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 640px) {
  .quiz_main {
    width: 100%;
  }
  .quiz_pyramid {
    display: none;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
}
